@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 14px;

  --color-button-text: #fff;
  --color-primary-100: #dee3ea;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #5d7290;
  --color-primary-600: #323d4d;
  --color-primary-700: #242c37;
  --color-primary-800: #151a21;
  --color-primary-900: #0b0e11;
  --color-secondary-washed-out: #879eed;
  --color-secondary: #5575e7;
  --color-accent-glow: rgba(253, 77, 77, 0.3);
  --color-accent: #fd4d4d;
  --color-accent-hover: #fd6868;
  --color-accent-disabled: #f5bfbf;
  --screen-height-reduction: 0px;
  --color-primary-100-translucent: rgba(222, 227, 234, 0.15);
}

@layer components {
  .page {
    @apply bg-primary-800 text-primary-100;
  }
  .main {
    @apply min-h-screen px-[4rem] flex flex-1 flex-col justify-center items-center;
  }
  .footer {
    @apply text-center bottom-0 right-0 left-0 border-t-primary-100 py-3 text-secondary fixed;
  }

  .title {
    @apply text-center font-extrabold underline text-2xl text-secondary;
  }

  .list-item {
    @apply list-disc py-5 ease-in-out rounded-lg cursor-pointer;
  }

  .todo-list {
    @apply flex justify-center flex-col;
  }
}
